.format-vsf #region-main {
    overflow-x: inherit;
}

.format-vsf .course-content ul.sections {
    margin: 0;
}

.format-vsf .course-content ul.sections li.section {
    list-style: none;
    margin: 0 0 5px 0;
    padding: 0;
}

.format-vsf .course-content ul.sections li.section > .content {
    margin: 0 10px;
}

.format-vsf .course-content ul.sections li.section .left,
.format-vsf .course-content ul.sections li.section .right {
    padding: 0 6px;
}

.format-vsf .course-content ul.sections li.section .left {
    padding-top: 22px;
    text-align: right;
}

.format-vsf.jsenabled .course-content ul.sections li.section .left,
.format-vsf.jsenabled .course-content ul.topics li.section .right {
    width: auto;
}

.format-vsf .course-content ul.sections li.section .section_action_menu .textmenu,
.format-vsf .course-content ul.sections li.section .section_action_menu .menu-action-text {
    white-space: nowrap;
}


/* Specific styling. */
.format-vsf .course-content ul li.section.main {
    border: 0 solid transparent;
}

.format-vsf .single-section h3.sectionname {
    margin-bottom: 0;
}

.format-vsf .course-content .section-summary .section-title {
    margin: 0;
}

.format-vsf .course-content .section-summary .section-summary-activities .activity-count,
.format-vsf .course-content .section-summary-activities .activity-count {
    display: none;
}

.format-vsf .vsf-empty-summary {
    padding-bottom: 10px;
}

.format-vsf .vsf-percentage {
    font-size: 14px;
    margin: 0;
}

.format-vsf .course-content {
    background-color: transparent;
    padding-top: 0;
}

.format-vsf .course-content ul.sections li.section,
.format-vsf .course-content .single-section {
    background-color: #fff;
}

.format-vsf .course-content .single-section {
    margin-top: 0;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
}

.format-vsf .course-content .single-section ul.section {
    margin-top: 0;
}

.format-vsf .course-content {
    box-shadow: none;
}

.format-vsf .course-content ul.sections li.section {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
}

.format-vsf .course-content .single-section {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
}
.format-vsf .course-content .single-section ul.sections li.section {
    box-shadow: none;
}

.format-vsf .course-content .single-section .section-navigation {
    padding: 0;
}

.format-vsf .course-content .single-section .section-navigation.navigationtitle {
    height: 20px;
    margin: 0;
}

.format-vsf .course-content .single-section ul.sections li.section .left,
.format-vsf .course-content .single-section ul.sections li.section .right {
    padding: 0;
    width: 0;
}

.format-vsf.editing .course-content .single-section ul.sections li.section .left,
.format-vsf.editing .course-content .single-section ul.sections li.section .right {
    padding: 6px 0;
    width: 40px;
}

.format-vsf .course-content .single-section ul.sections li.section > .content,
.editing.format-vsf .course-content .single-section ul.sections li.section > .content,
.editing.format-vsf.lang-nl .course-content .single-section ul.sections li.section > .content {
    margin: 0;
}

.format-vsf.editing .course-content .single-section ul.sections li.section > .content {
    margin: 0 40px;
}

.editing.format-vsf .course-content ul.sections li.section > .content {
    margin: 0 60px;
}

.editing.format-vsf.lang-nl .course-content ul.sections li.section > .content {
    margin: 0 80px;
}

// Indentation.
@media (min-width: 576px) {
    .format-vsf {
        $indent-size: 30px;
        // Creates a series of .indent-# rule declarations based on indent size and number of indent levels.

        @for $i from 1 through 16 {
            $margin: ($i * $indent-size);

            .indent-#{$i} {
                margin-left: $margin;
            }
        }

        .indent-huge {
            margin-left: (16 * $indent-size);
        }
    }
}

// Progress chart
.format-vsf .vsf-progress {
    float: right;
}

/* Continue button */
.format-vsf .vsf-continue {
    box-shadow: 0 0 0 2px #111;
    padding: 4px 12px;
    margin-left: 2px;
}

/* Section header background / foreground */
.format-vsf .vsf-sectionname {
    margin-bottom: 8px;
    min-height: 40px;
    padding: 0 12px;
    a {
        color: inherit;
    }
}

/* Section header with navigation */
.format-vsf .single-section .vsf-nav-bottom,
.format-vsf .single-section .vsf-sectionname {
    position: relative;
}

.format-vsf .single-section .vsf-sectionname .vsf-sectionname-nav {
    bottom: 0;
    color: inherit;
    display: table;
    height: auto;
    margin: auto;
    position: absolute;
    right: 10px;
    top: 0;
}

.format-vsf .single-section .vsf-nav-bottom .vsf-nav-left,
.format-vsf .single-section .vsf-nav-bottom .vsf-nav-right {
    bottom: 0;
    display: table;
    height: auto;
    margin: auto;
    position: absolute;
    top: 0;
}

.format-vsf .single-section .vsf-nav-bottom .vsf-nav-left {
    left: 10px;
}

.format-vsf .single-section .vsf-nav-bottom .vsf-nav-right {
    right: 10px;
}

.format-vsf .vsf-sectionname h3,
.format-vsf .single-section .vsf-sectionname .vsf-sectionname-nav a .fa,
.format-vsf .single-section .vsf-nav-bottom .vsf-nav-left a .fa,
.format-vsf .single-section .vsf-nav-bottom .vsf-nav-right a .fa {
    color: inherit;
}

.format-vsf .single-section .vsf-sectionname h3 {
    text-align: left;
}

/* Columns */
.format-vsf [class*=vsf-col] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
    float: left;
    min-height: 30px;
    width: 100%;
}

@media (min-width: 576px) {
    .format-vsf {
        .vsf-col2 {
            width: 50%;
        }
    }
}

.format-vsf .vsf-inline {
    display: inline;
}

/* Module view */
.format-vsf .moduleviewgap {
    margin-bottom: 10px;
}

.format-vsf .moduleviewgapwithbutton {
    padding-bottom: 30px;
    min-height: 70px;
}

.format-vsf .vsfactivity {
    .no-overflow {
        overflow: unset;
        p {
            text-align: center !important; // stylelint-disable-line declaration-no-important
        }
    }
}

.format-vsf .vsf-progress-bar {
    background-color: #ddd;
    display: inline-block;
    margin-top: 5px;
    width: 100%;
}

.format-vsf .vsf-progress-bar .vsf-bar {
    background-color: #fab;
    min-width: 3em;
    text-align: center;
}

.format-vsf .vsf-button-bottom {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}

.format-vsf .vsf-button-bottom .btn.btn-primary {
    display: block;
    margin: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.format-vsf .vsf-button-bottom.vsf-aib .btn.btn-primary {
    display: inline-block;
}

.format-vsf .vsfavmod {
    /*position: relative;*/
}

.format-vsf .vsfavmod .vsfai {
    left: 10px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 0;
}

.format-vsf .vsfavmod .vsfai.vsfaifa {
    bottom: 0;
}

.format-vsf .vsfavmod .vsfai.vsfaifa .vsffa {
    color: #e51874;
    font-size: 50px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.format-vsf .vsfai img {
    max-height: 100%;
    max-width: 100%;
}

.format-vsf .vsfavmod.vsfmodicon .vsfai {
    left: -1px;
    top: -10px;
}

.format-vsf .vsfavmod.vsfmodicon .vsfai img {
    max-height: none;
    width: 42px;
}

.format-vsf .activity .vsfavmod img.activityicon {
    margin-right: 0;
}

.format-vsf .activity .vsf-icon img.modpic.original,
.format-vsf .modicontable img.modpic.original {
    height: 24px;
    width: 24px;
}

.format-vsf .activity .vsf-icon img.modpic.custom,
.format-vsf .modicontable img.modpic.custom {
    width: 90px;
}

.format-vsf .activity .vsf-icon img.modpic {
    &.original,
    &.custom {
        opacity: 0.5;
    }
}

.format-vsf .vsf-activity-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
}

.format-vsf .activity.moduleviewgapwithbutton .vsfactivity {
    max-width: 100%;
}

@import "progress_chart";
@import "extra";
