.format-vsf .jumpmenu .form-inline {
    display: block;
}

.format-vsf .course-content ul.section,
.format-vsf .course-content ul.sections {
    padding: 0;
}

.format-vsf .course-content ul.section {
    margin: 0;
}

/* Module view */
.format-vsf .moduleview.section {
    padding-left: 0;
}
