{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
  Progress Section Format

  @package    course/format
  @subpackage vsf
  @version    See the value of '$plugin->version' in version.php.
  @copyright  &copy; 2021-onwards G J Barnard.
  @author     G J Barnard - gjbarnard at gmail dot com and {@link http://moodle.org/user/profile.php?id=442195}
  @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template format_vsf/display_section

    This template renders the section.

    Example context (json):
    {
        "activitysummary": "Activity summary markup if any",
        "chartas": true,
        "cmcontrol": "Course module controls",
        "cmlist": "Course module list",
        "completioninfo": "Completion information markup if any",
        "header": "Header markup",
        "leftcontent": "Left content markup if any",
        "rightcontent": "Right content markup if any",
        "sectionavailabilty": "Section availability markup",
        "sectionid": "1",
        "sectionno": "1",
        "sectionstyle": " current",
        "summary": "Summary markup"
    }
}}
<li id="section-{{sectonno}}" class="section main clearfix{{sectionstyle}}" role="region" aria-labelledby="sectionid-{{sectionid}}-title" data-sectionid="{{sectionno}}" {{#sectionreturnid}}data-sectionreturnid="{{sectionreturnid}}"{{/sectionreturnid}}>
    {{#leftcontent}}
        <div class="left side">{{{leftcontent}}}</div>
    {{/leftcontent}}
    {{#rightcontent}}
        <div class="right side">{{{rightcontent}}}</div>
    {{/rightcontent}}
    <div class="content">
        {{{header}}}{{!
        }}{{{sectionavailabilty}}}
        <div class="summary vsf-{{^summary}}empty{{/summary}}-summary">
            {{#summary}}{{{summary}}}{{/summary}}
        </div>
        {{#completioninfo}}{{{completioninfo}}}{{/completioninfo}}
        {{#chartas}}
        <div class="row">
            <div class="col-lg-{{#chartcol1}}10{{/chartcol1}}{{#chartcol2}}9{{/chartcol2}}{{#chartcol3}}8{{/chartcol3}}{{#chartcol4}}7{{/chartcol4}}">
        {{/chartas}}
        {{#cmlist}}{{{cmlist}}}{{/cmlist}}
        {{#cmcontrol}}{{{cmcontrol}}}{{/cmcontrol}}
        {{#chartas}}
            </div>
            <div class="col-lg-{{#chartcol1}}2{{/chartcol1}}{{#chartcol2}}3{{/chartcol2}}{{#chartcol3}}4{{/chartcol3}}{{#chartcol4}}5{{/chartcol4}}">
                {{{activitysummary}}}
            </div>
        </div>
        {{/chartas}}
    </div>
</li>
